.container {
    display: flex;
    flex-wrap: wrap;
}

.box{
    width: 100%;
}

@media (min-width: 768px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .box {
        flex-basis: 30%;
    }

}

/* ====================== Restaurant Details ====================== */
.restaurant-details-container {
    display: flex;
    flex-wrap: wrap;
}

.restaurant-box {
    flex-basis: 100%;
}

@media (min-width: 768px) {
    .restaurant-details-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        box-sizing: border-box;
    }

    .restaurant-box {
        flex-basis: 30%;
    }
}
#restaurant-img {
    background-color: #ccc;
    display: block;
    margin: 0;
    max-width: 100%;
    min-height: 248px;
    min-width: 100%;
    object-fit: cover;
}

#footer {
    bottom: 0;
    width: 100%;
}


/* ====================== Form Elements ====================== */
input, #favorite-button, #review-comments {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input:focus:required:invalid {
    border: 2px dashed red;
}

input:focus:required:valid {
    border: 2px solid green;
}